.hashtags {
    padding-top: 30px;

    &_decor {
        height: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_text {
        font-family: 'comics';
        color: #000;
        text-align: center;
    }

    &_el {
        &_1 {
            left: -100px;
            top: -350px;
        }

        &_2 {
            left: 250px;
            top: -250px;
        }

        &_3 {
            left: 50px;
            top: -10px;
        }

        &_4 {
            left: -250px;
            top: -20px;
        }

        &_5 {
            left: 200px;
            top: 320px;
        }

        &_6 {
            left: -160px;
            top: 265px;
        }

        &_l {
            img {
                width: 550px;
            }

            .hashtags_text {
                font-size: 64px;
                line-height: 64px;
            }
        }

        &_s {
            img {
                width: 380px;
            }

            .hashtags_text {
                font-size: 32px;
                line-height: 32px;
            }
        }
    }

    &_cta {
        padding: 12px 32px;
        color: #000;
        background-color: #fff;
        font-size: 36px;
        border: 12px solid #000;

        &_wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}