.hero {
    min-height: 100dvh;
    background-color: #63C2DC;
    padding-bottom: 36px;

    &_decor {
        height: 800px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width: 650px) {
            height: 600px;
        }

        &_gib {
            left: -100px;
            transform: rotate(-5deg);

            @media(max-width: 650px) {
                left: 0px;
                top: -100px
            }

            img {
                border: 12px solid #000;

                @media(max-width: 950px) {
                    width: 600px;
                }

                @media(max-width: 650px) {
                    width: 400px;
                }
            }

            &_front {
                z-index: 2;

                img {
                    border: 12px solid #0000;
                }
            }
        }

        &_img {
            left: 400px;
            top: 130px;
            transform: rotate(3deg);
            z-index: 1;

            @media(max-width: 950px) {
                left: 200px;
            }

            @media(max-width: 650px) {
                left: 0px;
                top: 80px
            }

            img {
                border: 12px solid #000;

                @media(max-width: 950px) {
                    width: 300px;
                }
            }
        }
    }

    &_cta {
        padding: 12px 32px;
        color: #000;
        background-color: #fff;
        font-size: 36px;
        border: 12px solid #000;

        &_wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}