@use 'fonts';
@use 'null';
@use 'header';
@use 'hero';
@use 'space';
@use 'forest';
@use 'bus';
@use 'media';
@use 'tnt';
@use 'hashtags';
@use 'focus';
@use 'buy';

.dnone {
    display: none;
}


.cta {
    cursor: pointer;
    transition: filter 200ms;

    &:hover {
        filter: invert(1);
    }
}

.ml {
    cursor: pointer;
    transition: transform 200ms;

    &:hover {
        transform: scale(1.1) rotate(5deg);
    }
}

.copied {

    padding: 12px 32px;
    color: #000;
    background-color: #fff;
    font-size: 36px;
    border: 12px solid #000;
    box-shadow: 4px 4px 10px #0008;

    &_wrapper {
        position: fixed;
        z-index: 999;
        top: 20px;
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100vw;
        transition: opacity 200ms;
        pointer-events: none;
    }

    &_hide {
        opacity: 0;
    }
}